.report-table-container {
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 10px;
}

.report-table th,
.report-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.report-table th {
    background-color: #f2b3b3;
    font-weight: bold;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.home-button button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.home-button button:hover {
    background-color: #0056b3;
}