/* Kontainer Utama */
.stock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a4bac0;
    /* Light pink background color */
    height: 90vh;
    width: 120vh;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

/* Home Button */
.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Judul Halaman */
.stock-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Kontainer Pencarian */
.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px 0 0 4px;
    width: 200px;
}

.search-button {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-left: none;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    cursor: pointer;
}

/* Grup Tombol */
.button-group {
    position: absolute;
    top: 20%;
    right: 10%;
}

.button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Tabel Stok */
.stock-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.stock-table th,
.stock-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.stock-table th {
    background-color: #f2b3b3;
    font-weight: bold;
}

/* Tombol Edit */
.edit-button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

/* Filter Dropdown */
.header-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.jenis-dropdown {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

/* Adjust Stock */
.stock-adjust {
    display: flex;
    align-items: center;
    gap: 5px;
}

.adjust-button {
    padding: 5px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.stock-input {
    width: 50px;
    text-align: center;
}